body {
    background-color: lightgray;
    font-family: Verdana, sans-serif;
}

.title {
    color:darkorchid;
    font-weight: bold;
    font-size: 1.125em;
}

.titleCompleted {
    color: gray;
}

.delete:hover {
    color: firebrick;
    border-color: black;
    transition: 0.4s;
}

.complete:hover {
    color: green;
    border-color: black;
    transition: 0.4s;
}