body {
    background-color: lightgray;
    font-family: Verdana, sans-serif;
}

#imgHeader {
    width: 300px;
    object-fit: contain;
    padding: 15px 10px 20px 10px;
}

.addNew {
    border-style: solid;
    border-color: black;
    padding: 10px 10px 10px 10px;
    width: 400px;
    background-color: darkgrey;
}

#submitBtn {
    margin-top: 6px;
    background-color: #83aaf1;
}

#submitBtn:hover {
    background-color: #74a0ef;
    transition: 0.4s;
}

#submitBtn:hover {
    border-color: #3c3c3c;
}

.title {
    color:#3271e7;
    font-weight: bold;
    font-size: 1.125em;
}

.titleCompleted {
    color: gray;
}

.complete {
    background-color: #83aaf1;
    /* border: none; */
}
.complete:hover {
    color:#3c3c3c; 
    background-color: #74a0ef;  
    border-color: black;
    transition: 0.3s;
}

.delete {
    background-color: #83aaf1;
}

.delete:hover {
    color:#3c3c3c; 
    background-color: #74a0ef;
    border-color: black;
    transition: 0.3s;
}

.deleteDone {
    background-color: #b5c6e3;
    color: #616161;
}

.deleteDone:hover {
    /* color:#787878;  */
    background-color: #a3b8dc;
    border-color: black;
    transition: 0.3s;
}


